/* elements;; titels en color van titles */
 
h1, h2, h3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
   color: rgb(7, 111, 109);
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 25px;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

a {
    color: rgb(7, 111, 109);
    text-decoration: none;
}

a:hover {
    color: rgb(7, 111, 109);
    text-decoration: underline;
}


/* reset */

* {
    box-sizing: border-box; /* width and height include paddings and borders */
    margin: 0; /* wipe out browser differences */
    padding:0; /* wipe out browser differences */ 
 }
 html{
     height: 100%;
 }
 
 img {
    border: 0;
    max-width: 100%;
 }
    
 body {
     background-color: #d7d7d7;
     font-family: 'Luxurious Roman', cursive;
     font-size: 16px; 
    line-height: 1.2;
 }

 /* Header */
 
    header {
        background: rgb(135, 201, 202);
     } 
     
     header .wrapper {
         padding: 40px 0;
     }  
 
/* navigation */
header {
    display: flex;
    justify-content: center;
}

header .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: auto;
    max-width: 960px;
    width: 100%;
}

header .wrapper p {
    text-align: right;
}

#mainmenu {
   display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    list-style: none;
    margin-top: 30px;
}

#mainmenu a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    display: block;
}

#mainmenu li a:hover,
#mainmenu .active a {
    color: #000000;
    text-decoration: active;

}
.button {
   transition-duration: 0.4s;
 }
 
 .button:hover {
   background-color: #4CAF50; 
   color: white;
 }
 /* ===========================================
    Main content
    =========================================== */
 
 /* general */
 
 main {
    background-color: rgb(238, 240, 232);
    padding-bottom: 50px;
}

main p {
    color: rgb(0, 0, 0);
    line-height: 20px;
}
    .wrapper {
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-between;
       padding: 33px 0px 33px;
       max-width: 960px;
       width: 100%;
       align-items: center;
}
/* ===========================================
   Footer
   =========================================== */

   footer {
    position: center;
    min-height: 100%;
}

#doormat .wrapper {
    min-height: 100%;
}

#doormat {
    background: rgb(135, 201, 202);
    margin-top: 1px;
    padding: 10px 280px;
}


#doormat ul,
li a {
    list-style: none;
    text-decoration: none;
}

#doormat li {
    margin: 8px 0;
}

#doormat h3 {
    text-align: center;
    font-size: 23px;
}


.social_linking {
    display: flex;
    text-align: center;
    justify-content: center;
}
.contacts_footer {
    color: #fff;
    text-align: center;
    font-size: 19px;
}
.links_page {
    text-align: center;
}

.links_page a {
    color: rgb(245, 245, 245);
    font-size: 20px;
}

.links_page a:hover {
    text-decoration: underline;
}
@media (min-width: 700px) {
    #doormat .wrapper {
        display: flex;
        justify-content: space-between;
    }
}
