/* ===========================================
   Banner
   =========================================== */

   #banner {
      background-image: url(../img/banner.jpg);
      background-size: cover;
   }
   
   .banner_box {
      padding: 120px 0 60px 0;
      margin: 0px auto;
	   max-width: 960px;
	   width: 100%;
   }
   
   .banner_box .btn-cta {
      font-size: 18px;
      padding: 14px 60px;   
   }
   
   .banner_box p {
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
   }
   
   /* ===========================================
      Main
      =========================================== */
   
   main {
      display: flex;
      justify-content: center;
	   margin: 0px auto;
	   max-width: 960px;
	   width: 100%;
   }
   
   /* left */
   .lnk-cta {
      display: flex;
      flex-flow: row wrap;
      margin-top: 10px;
   }
   
   .left {
      padding: 30px 15px 0 15px;
   }
   
   #gallery img {
      max-width: 100%;
   }
   
   #gallery {
   
      display: flex;
      flex-flow: row wrap;
   
   
   }
   
   #gallery a {
   
      display: flex;
      padding: 5px;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 23%;
   }
   
   /* right */
   .right p {
      line-height: 1.8;
   }
   
   .right {
      padding: 30px 15px 0 15px;
   
   }
   .right img {
      float: left;
      width: 23%;
      margin-right: 10px;
   }
   
   .right h3 a {
      color: #333;
      border-bottom: 1px solid #cccccc;
   }
   
   .right h3 a:hover {
      color: #be0a35;
      text-decoration: none;
   }
   
   .readmore {
      display: flex;
      flex-flow: row wrap;
      margin-top: 6px;
   }
   
   
   