/* ===========================================
   Banner
   =========================================== */

   #banner {
    background-image: url(../img/Photo1.jpg);
    background-size: cover;
 }
 /* ===========================================
      Main
      =========================================== */
   
      main {
        display: flex;
        justify-content: center;
         margin: 0px auto;
         max-width: 960px;
         width: 100%;
     }
      main h3 {
        font-weight: bold;  
       }
     
     /* left */
     .lnk-cta {
        display: flex;
        flex-flow: row wrap;
        margin-top: 10px;
     }
     
     .left {
        padding: 15px 20px 0 50px;
     }
     
     #gallery img {
        max-width: 100%;
     }
     
     #gallery {
     
        display: flex;
        flex-flow: row wrap;
     
     
     }
     
     #gallery a {
     
        display: flex;
        padding: 5px;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 23%;
     }
     
     /* right */
     .right p {
        line-height: 1.8;
     }
     
     .right {
        padding: 30px 15px 0 15px;
     
     }
     .right img {
        float: left;
        width: 23%;
        margin-right: 10px;
     }
     
     .right h3 a {
        color: rgb(112, 182, 127);
        border-bottom: 1px solid #cccccc;
     }
     
     .readmore {
        display: flex;
        flex-flow: row wrap;
        margin-top: 6px;
     }
     
     
     
 